<main class="container">
  <p><%= link_to(sanitize('&larr; All Users'), users_path) %></p>

  <h2>User <%= @user.first_name %></h2>
  <section>
    <div><%= @user.first_name %></div>
    <div><%= @user.last_name %></div>
    <div><%= @user.email %></div>
    <div><%= @user.company_name %></div>
    <div><%= @user.alias %></div>
  </section>
</main>
